ibank_perf_test.json
{
  "name": "ibank perf test",
  "nodes": [
    {
      "parameters": {
        "command": "=/home/jmeterusr/apache-jmeter-5.6.3/bin/jmeter -n \\\n  -t /home/jmeterusr/perf-ibank-phase4.2/n8n/script_60s_50usr5rup/{{ $('Information Extractor').item.json.output.env }}/{{ $('Information Extractor').item.json.output.input_file }}.jmx \\\n  -l /home/jmeterusr/perf-ibank-phase4.2/n8n/result_60s_50usr5rup/{{ $('Information Extractor').item.json.output.env }}/{{ $('Information Extractor').item.json.output.output_file }}.jtl \\\n  -Jjmeter.save.saveservice.output_format=xml \\\n  -Jjmeter.save.saveservice.response_data=true"
      },
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        1480,
        400
      ],
      "id": "f8f76f3a-4857-4163-a332-0c601ca2e931",
      "name": "SSH",
      "credentials": {
        "sshPassword": {
          "id": "BhJSBbsJ97gVrZrd",
          "name": "SSH Password account"
        }
      }
    },
    {
      "parameters": {
        "text": "={{ $json.chatInput }}",
        "attributes": {
          "attributes": [
            {
              "name": "input_file",
              "description": "input file's name ",
              "required": true
            },
            {
              "name": "output_file",
              "description": "output file's name ",
              "required": true
            },
            {
              "name": "env",
              "description": "environment",
              "required": true
            },
            {
              "name": "isGenToken",
              "type": "boolean",
              "description": "flag for generate access token"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1,
      "position": [
        260,
        280
      ],
      "id": "bf1084c2-2360-4a2c-aabd-c8605f0d387b",
      "name": "Information Extractor"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        40,
        280
      ],
      "id": "73501319-d090-4672-bf09-5a45f92c3b34",
      "name": "When chat message received",
      "webhookId": "47bbc8b8-c4dd-4f8b-b1e9-881b070c1f5d"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1800,
        960
      ],
      "id": "f514beda-1a0e-4ac3-82eb-bbd9aacbd562",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "c7IWfvVR3HvZf7IM",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "path": "=/home/jmeterusr/perf-ibank-phase4.2/n8n/script_60s_50usr5rup/{{ $('Information Extractor').item.json.output.env }}",
        "options": {
          "fileName": "={{ $json.fileName }}"
        }
      },
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        1300,
        400
      ],
      "id": "d3aae720-5604-49b7-b2d4-2be2237c5c35",
      "name": "Upload File",
      "credentials": {
        "sshPassword": {
          "id": "BhJSBbsJ97gVrZrd",
          "name": "SSH Password account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a performance test analyst agent.\n\nYour task is to read test results in JSON format extracted from a `.jtl` file generated by Apache JMeter. The content is provided at {{ $json.testResults }}.\n\nEach entry in `testResults.httpSample` represents an HTTP sample and includes attributes such as:\n- `lb`: label\n- `t`: response time in milliseconds\n- `s`: success (\"true\"/\"false\")\n- `ts`: timestamp\n- `rc`: response code\n- `rm`: response message\n- `by`: response bytes\n\nYour job is to analyze all entries and return **one single TOTAL summary**, aggregating across all labels.\n\nCompute and return the following fields:\n```json\n{\n  \"samples\": total number of samples (use {{ $json.testResults.httpSample.length }} for total samples),\n  \"average\": average response time `t` (rounded to integer),\n  \"min\": minimum response time (min of attributes `t`),\n  \"max\": maximum response time (max of attributes `t`),\n  \"std_dev\": standard deviation of attributes `t` (rounded to 2 decimals),\n  \"error_percent\": percentage of failed samples that attributes `s` is false (as string, e.g., \"2.11%\"),\n  \"throughput\": estimated samples per second (as string, e.g., \"17.4/sec\"),\n  \"received_kb_per_sec\": average receive rate in KB/sec (rounded to 2 decimals),\n  \"sent_kb_per_sec\": average send rate in KB/sec (rounded to 2 decimals),\n  \"avg_bytes\": average bytes (rounded to 1 decimal)\n}\n",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        2400,
        400
      ],
      "id": "50a25f25-53aa-417a-9e82-0984e750b058",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "operation": "xml",
        "destinationKey": "xml",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        2040,
        400
      ],
      "id": "d53ae0aa-71fb-4540-9fd5-a9bb26308d94",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "dataPropertyName": "xml",
        "options": {}
      },
      "type": "n8n-nodes-base.xml",
      "typeVersion": 1,
      "position": [
        2220,
        400
      ],
      "id": "1d82d163-c0d8-47c6-807d-74cd3fb25f06",
      "name": "XML"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4262e962-cea0-4938-a283-6bc9a336ed49",
              "leftValue": "={{ $json.output.isGenToken }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        620,
        280
      ],
      "id": "929f80ca-e26c-4875-8cb6-9a4784603de9",
      "name": "If"
    },
    {
      "parameters": {
        "command": "=cd /home/node/scripts/ibank-{{ $json.output.env }} && make upload-nginx-perf"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        920,
        140
      ],
      "id": "dd59beb6-6cfa-433d-bd6a-fd1f2230bfa8",
      "name": "Upload .csv"
    },
    {
      "parameters": {
        "resource": "file",
        "binaryPropertyName": "csv",
        "path": "=/home/jmeterusr/perf-ibank-phase4.2/csv",
        "options": {}
      },
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        1460,
        140
      ],
      "id": "6817774f-c522-441f-b08f-68b002cfcf40",
      "name": "Upload .csv to jmeter",
      "credentials": {
        "sshPassword": {
          "id": "BhJSBbsJ97gVrZrd",
          "name": "SSH Password account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"samples\": 237358,\n  \"average\": 24,\n  \"min\": 2,\n  \"max\": 262,\n  \"std_dev\": 11.30,\n  \"error_percent\": \"100.00%\",\n  \"throughput\": \"17.4/sec\",\n  \"received_kb_per_sec\": 9.18,\n  \"sent_kb_per_sec\": 23.52,\n  \"avg_bytes\": 540.0\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        2680,
        740
      ],
      "id": "67d28768-fe00-4a63-b16b-76332d7067d6",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "fileSelector": "=/home/node/script_60s_50usr5rup/{{ $('Information Extractor').item.json.output.input_file }}.jmx",
        "options": {
          "fileName": "={{ $('Information Extractor').item.json.output.input_file }}.jmx"
        }
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        1100,
        400
      ],
      "id": "0983bd47-e8ce-4256-8bba-f4693f77ef02",
      "name": "Read .jmx script"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "download",
        "path": "=/home/jmeterusr/perf-ibank-phase4.2/n8n/result_60s_50usr5rup/{{ $('Information Extractor').item.json.output.env }}/{{ $('Information Extractor').item.json.output.output_file }}.jtl",
        "options": {}
      },
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        1680,
        400
      ],
      "id": "a09198dd-7b08-48e6-aaee-ad27e383d1b9",
      "name": "Download result from jmeter",
      "credentials": {
        "sshPassword": {
          "id": "BhJSBbsJ97gVrZrd",
          "name": "SSH Password account"
        }
      }
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=/home/node/result_60s_50usr5rup/{{ $('Information Extractor').item.json.output.output_file }}.jtl",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        1860,
        400
      ],
      "id": "bf4b6bf8-16c4-460c-9a6b-68fbe95d4633",
      "name": "Write Files"
    },
    {
      "parameters": {
        "text": "={{ $json.stdout }}",
        "attributes": {
          "attributes": [
            {
              "name": "start_time",
              "description": "start time when starting test (ex output: 2025 May 28 15:16:51 ICT)",
              "required": true
            },
            {
              "name": "end_time",
              "description": "end time when the test run is complete (ex output: 2025 May 28 15:16:51 ICT)",
              "required": true
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1,
      "position": [
        1680,
        620
      ],
      "id": "358efc65-f0cf-4330-957e-adde1ba47c8c",
      "name": "Start/End Time Perf Test Data"
    },
    {
      "parameters": {
        "fileSelector": "=/home/node/scripts/ibank-{{ $('Information Extractor').item.json.output.env }}/perf-phase3/csv/user_token.csv",
        "options": {
          "dataPropertyName": "csv"
        }
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        1280,
        140
      ],
      "id": "488afe54-bce4-4466-ba31-13516d8e71ec",
      "name": "Read .csv"
    },
    {
      "parameters": {
        "content": "## Gen Token\n**Step:** generate token from better-life and update to server jmeter",
        "height": 260,
        "width": 780
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        860,
        40
      ],
      "typeVersion": 1,
      "id": "2a78e5d8-113a-470c-8c19-35df2b92fddf",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "command": "=cd /home/node/scripts/ibank-{{ $('If').item.json.output.env }} && make update-perf-csv"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1100,
        140
      ],
      "id": "1cbc18c8-d25b-4823-a965-b5fec9b28b0f",
      "name": "Get token.csv"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Information Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Start/End Time Perf Test Data",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SSH": {
      "main": [
        [
          {
            "node": "Download result from jmeter",
            "type": "main",
            "index": 0
          },
          {
            "node": "Start/End Time Perf Test Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload File": {
      "main": [
        [
          {
            "node": "SSH",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "XML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "XML": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Upload .csv",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Read .jmx script",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload .csv": {
      "main": [
        [
          {
            "node": "Get token.csv",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload .csv to jmeter": {
      "main": [
        [
          {
            "node": "Read .jmx script",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Read .jmx script": {
      "main": [
        [
          {
            "node": "Upload File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download result from jmeter": {
      "main": [
        [
          {
            "node": "Write Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Files": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start/End Time Perf Test Data": {
      "main": [
        []
      ]
    },
    "Read .csv": {
      "main": [
        [
          {
            "node": "Upload .csv to jmeter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get token.csv": {
      "main": [
        [
          {
            "node": "Read .csv",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "8e66d1e0-e7ea-415c-99dd-a2de5415d970",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "65722b01fef471d9bb8d059fce788e8e7d02bd91690744ee000f0c25a46e94f4"
  },
  "id": "bPCRivi84AZZFN9R",
  "tags": []
}